<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
</head>
<body>
<h1>Добавить пользователя</h1>
<div>
    <form method="POST" th:action="@{/admin/new/}" th:object="${user}">
        <label for="name">Введите имя: </label>
        <input type="text" th:field="*{name}" id="name">
        <br>
        <p>
        <label for="surname">Введите фамилию: </label>
        <input type="text" th:field="*{surname}" id="surname">
            <br>
        <p>
        <label for="age">Введите возраст: </label>
        <input type="text" th:field="*{age}" id="age">
        <br>
        <p>
        <label for="age">Задайте логин: </label>
        <input type="text" th:field="*{username}" id="username">
        <br>
        <p>
        <label for="age">Задайте пароль: </label>
        <input type="text" th:field="*{password}" id="password">
        <br>
        <p>
                    <label>Назначить роль:
                        <select size="2" multiple name="listRoles" required="required">
                            <option selected="selected" value="1">ADMIN</option>
                            <option value="2">USER</option>
                        </select>
                    </label>
        <p>
        <input type="submit" value="Добавить">
        </p>
    </form>
    <form th:action="@{'/logout'}">
        <input type="submit" value="Выйти"/>
    </form>
</div>
</body>
</html>