<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<h1>Список пользователей</h1>
<div>
    <table border="1">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Роль</th>
        </tr>

        <tr>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.roles}"></td>

                <span th:each="role : ${user.getAuthorities()}" th:text="${role.getAuthority()}" />
            </td>
        </tr>
        </tbody>
    </table>
  <p>
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Logout" />
    </form>
</div>
</body>
</html>